---
title: Заявка на сотрудничество
---
extends layouts/_layout
block conf

block content
	.wrapper.bg-white.page-head
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
					a(href="/").bread-item О компании
					a(href="/").bread-item Закупки
				h1.title.h1 Заявка на сотрудничество
	.wrapper.bg-white.js-anim
		.box
			.content-columns
				.content-columns-main
					form(action="/").js-validate.form-with-text
						.text.sm Оставьте, пожалуйста, ваши данные, чтобы наш специалист смог с вами связаться для уточнения всех деталей.
						.border-block
							.border-block-content
								.form-block
									.form-block-head
										.title.h5 Информация о партнёре
									.input-row
										.input-item.w100
											.input-wrapper
												input.input-main(
													id='СollaborationCompany',
													placeholder='ООО «Полиграфия» ',
													type="text",
													name='СollaborationCompany',
													data-validation="length",
													data-validation-error-msg="Обязательное поле",
													data-validation-length='min1')
												label(for='#СollaborationCompany').input-label Организация
										.input-item.w100
											.input-wrapper
												input.input-main(
													id='СollaborationName',
													placeholder='Иванов Сергей Иванович',
													type="text",
													name='СollaborationName',
													data-validation="length",
													data-validation-error-msg="Обязательное поле",
													data-validation-length='min1',
													data-countdown='50')
												label(for='#СollaborationName').input-label Контактное лицо
										.input-item.w100
											.input-wrapper
												input.input-main(
													id='СollaborationPosition',
													placeholder='Менеджер по продажам',
													type="text",
													name='СollaborationPosition',
													data-validation="length",
													data-validation-error-msg="Обязательное поле",
													data-validation-length='min1')
												label(for='#СollaborationPosition').input-label Должность
										.input-item.w100
											.input-wrapper
												input.input-main(
													id='СollaborationEmail',
													placeholder='user@mail.ru',
													type="email",
													name='СollaborationEmail',
													data-validation="email",
													data-validation-error-msg="Некорректный E-mail")
												label(for='#СollaborationEmail').input-label E-mail
									.input-row.js-repeatBlock.handled(data-repeatlimit="4")
										.input-item.w50
											.input-wrapper
												input.input-main(
													id="СollaborationPhone",
													placeholder="+7 495 000-00-00",
													type="tel" name="СollaborationPhone",
													data-validation="custom",
													data-validation-regexp="^[-0-9()+ ]+$",
													data-validation-error-msg="Введите корректный номер телефона")
												label(for="#СollaborationPhone").input-label Телефон
										.input-item.w50
											.input-wrapper
												input.input-main(
													id="СollaborationAddPhone",
													placeholder="111",
													type="number",
													name="СollaborationAddPhone",
													data-validation="number",
													data-validation-allowing="positive"
													data-validation-error-msg="Добавочный номер должен содержать только цифры",
													data-validation-optional="true",
													onkeydown="javascript: return event.keyCode == 69 ? false : true")
												label(for="#СollaborationAddPhone").input-label Добавочный
									button(type='button').link-icon.primary.js-repeatBlock-trigger
										.link-icon-icon
											+icon('plus')
										.link-icon-text Добавить номер
									.input-row
										.input-item.w100
											.input-wrapper
												input.input-main(
													id='СollaborationScope',
													type="text",
													name='СollaborationScope',
													placeholder='Постаматы',
													data-validation="length",
													data-validation-error-msg="Обязательное поле",
													data-validation-length='min1',)
												label(for='#СollaborationScope').input-label Сфера сотрудничества
										.input-item.w100
											.input-wrapper
												textarea.input-main(
													type="text",
													name='СollaborationMoreInfo',
													data-validation="length",
													data-validation-length='min4',
													data-validation-error-msg="Обязательное поле",
													id='СollaborationMoreInfo',
													placeholder='Например, установка постаматов',
													data-countdown='50')
												label(for='#СollaborationMoreInfo').input-label Краткое описание уловий
						.border-block.PersonalData
							.border-block-content
								.form-block
									.input-row
										.input-item.w100
											label.select-radio-label.radio-simple
												input(type="checkbox", name='FranchiseAgree',data-validation='required',data-validation-error-msg="Обязательное поле").select-radio-input-real
												.select-radio-inner
													span.select-radio-input
														span.select-radio-input-fake
													span.select-radio-text Согласие на обработку
														a(href="#" target='_blank') персональных данных
						.block-buttons
							.link-icon
								.link-icon-icon
									+icon('arrl')
								.link-icon-text Назад
							button(type='submit').btn.btn-next
								.btn-inner 
									span Далее