---
title: Расчёт доставки
---
extends layouts/_layout
block content
	.wrapper.bg-white.page-head
		.box
			.page-head-container
				.bread-cont
					a(href="/").bread-item Главная
				h1.title.h1 Расчёт доставки
	.wrapper.bg-white
		.box
			.content-columns
				.content-columns-main
					form(action="/",data-step='1').js-validate.js-CalcForm.form-step
						// обьект с формулами для расчета
						// у блоков есть дата-формула
						script.
							var formObj = [
								{
									inputs: 
										{'BoxA':0,'BoxB':0,'BoxH':0},
										get formula(){ return this.inputs['BoxA']*this.inputs['BoxB']*this.inputs['BoxH'] }
								},{
									inputs: {'BoxA':0 , 'BoxB':0},
										get formula(){ return this.inputs['BoxA'] + this.inputs['BoxB']}
								},
								]

						.border-block
							.border-block-content
								.title.h3 География
								.form-block
									.form-block-head
										.title.h5 Откуда
									.input-row
										.input-item.multi
											.input-wrapper
												input.input-main.input-dropdown.js-input-dropdown.js-swap-item(
															name='FromCountry',
															placeholder='Например, Россия',
															data-validation="length",
															data-validation-length='min1',
															data-validation-error-msg="Неверно выбрана страна или населённый пункт",
															value='Россия')
												.js-input-dropdown-target.input-dropdown-target
													.input-dropdown-content
														.option
															span Россия
														.option
															span Россия
														.option
															span Беларусь
														.option
															span Украина
														.option
															span Казахстан
												label(for='#wqedqwe').input-label Страна
											.input-wrapper
												input.input-main.input-dropdown.js-input-dropdown.js-swap-item(
															name='FromCicy',
															placeholder='Например, Москва',
															data-validation="length",
															data-validation-error-msg="Неверно выбрана страна или населённый пункт",
															data-validation-length='min1',
															value='Москва')
												.js-input-dropdown-target.input-dropdown-target
													.input-dropdown-content
														.option
															span Мосальск
														.option
															span Москва
														.option
															span Мосс
														.option
															span Мостар
														.option
															span осния
												label(for='#wqedqaswe').input-label Населённый пункт
								.form-block
									.form-block-head
										.title.h5 Куда
										//.swap-multi если вдруг надо
										.input-icon.swap.js-swap.swap-multi
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 18.5"> <style>.stswap{fill-rule:evenodd;clip-rule:evenodd;fill:#F47921;}</style> <path d="M16 13.5H4V10l-4 4.3 4 4.2V15h12z" class="stswap"/> <path d="M16 4.2L12 0v3.5H0V5h12v3.5z" class="stswap"/></svg>
									.input-row
										.input-item.multi
											.input-wrapper
												input.input-main.input-dropdown.js-input-dropdown.js-swap-item(
														name='ToCountry',
														placeholder='Например, Россия',
														data-validation="length",
														data-validation-length='min1',
														value='Казахстан',
														data-validation-error-msg="Неверно выбрана страна или населённый пункт")
												.js-input-dropdown-target.input-dropdown-target
													.input-dropdown-content
														.option
															span Россия
														.option
															span Россия
														.option
															span Беларусь
														.option
															span Украина
														.option
															span Казахстан
												label(for='#wq2edqwe').input-label Страна
											.input-wrapper
												input.input-main.input-dropdown.js-input-dropdown.js-swap-item(
															name='ToCicy',
															placeholder='Например, Москва',
															data-validation="length",
															data-validation-length='min1',
															data-validation-error-msg="Неверно выбрана страна или населённый пункт",
															value='Мосс')
												.js-input-dropdown-target.input-dropdown-target
													.input-dropdown-content
														.option
															span Мосальск
														.option
															span Москва
														.option
															span Мосс
														.option
															span Мостар
														.option
															span осния
												label(for='#wqedqwe2').input-label Населённый пункт
						.border-block
							.border-block-content
								.title.h3 Информация об отправлении
								.form-block
									.form-block-head
										.title.h5 Выберите тип отправления
									.input-row
										.input-item
											.select-radio
												label.select-radio-label
													input(
														type="radio",
														name='PackageType',
														value='1',
														checked='checked',data-display-if-trigger='1').select-radio-input-real
													.select-radio-inner
														span.select-radio-input
															span.select-radio-input-fake.ok
														span.select-radio-text Документы
											.select-radio
												label.select-radio-label
													input(
														type="radio",
														name='PackageType',
														value='2',data-display-if-trigger='2').select-radio-input-real
													.select-radio-inner
														span.select-radio-input
															span.select-radio-input-fake.ok
														span.select-radio-text Груз
											.help-block.help Вы можете отправить в конверте не более 60 листов формата А4.
								.form-block-mainwrapper(data-display-if-container='PackageType')
									.form-block(data-display-target='PackageType',data-display-if='1')
										.form-block-head
											.title.h5 Параметры
										.input-row
											.input-item.w50
												.input-wrapper
													input.input-main(type="number",
																		id='DocWeight',
																		placeholder='0.01',
																		name='DocWeight',
																		data-validation="number",
																		data-validation-allowing="range[0.01;3],float,positive",
																		data-validation-error-msg="Максимальный вес — 3 кг",
																		data-validation-decimal-separator=".")
													label(for='#DocWeight').input-label Вес, кг
								// контейнер для всех блоков
								.form-block-subwrapper(data-display-if-container='GruzType')
								// контейнер для множественных блоков
								.form-block-subwrapper(data-display-if-container='GruzPlaces')

								.form-block
									.input-row
										.input-item
											.input-wrapper
												textarea.input-main.maxlength(type="text",name='PackageDescr',id='PackageDescr',placeholder='Например, ценный груз', data-countdown='200')
												label(for='#PackageDescr').input-label Описание отправления
						.border-block
							.border-block-content
								.title.h3 Способ доставки
								.form-block
									.input-row
										.input-item
											.select-radio
												label.select-radio-label
													input(
															type="radio",
															name='type1',
															value='1',
															checked='checked').select-radio-input-real
													.select-radio-inner
														span.select-radio-input
															span.select-radio-input-fake.ok
														span.select-radio-text Курьер
											.select-radio
												label.select-radio-label
													input(
															type="radio",
															name='type1',
															value='2').select-radio-input-real
													.select-radio-inner
														span.select-radio-input
															span.select-radio-input-fake.ok
														span.select-radio-text Самовывоз
											.help-block.help Ваша посылка будет доставлена получателю курьером.
						.block-buttons
							button(type='submit').btn.full-width.js-CalcForm-submit
								.btn-inner 
									span Далее

					// компоненты в форму
					.calc-form-components.js-CalcForm-components(style='display: none;')
						//основной блок для документов
						.form-block(data-display-target='PackageType',data-display-if='1')
							.form-block-head
								.title.h5 Параметры
							.input-row
								.input-item.w50
									.input-wrapper
										input.input-main(type="number",
															id='DocWeight',
															placeholder='0.01',
															name='DocWeight',
															data-validation="number",
															data-validation-allowing="range[0.01;3],float,positive",
															data-validation-error-msg="Максимальный вес — 3 кг",
															data-validation-decimal-separator=".")
										label(for='#DocWeight').input-label Вес, кг
						// основной блок для груза
						.form-block(data-display-target='PackageType',data-display-if='2')
							.form-block-head
								.title.h5 Параметры
							.input-row
								.input-item.w50
									.input-wrapper
										input.input-main.placesChanger.maxlength(
														id='GruzPlaces',
														placeholder='1',
														type="number",
														name='GruzPlaces',
														data-validation="number",
														data-validation-error-msg="Введите корректное количество мест",
														data-validation-allowing="positive,range[1;99]",
														data-countdown='2',
														data-display-if-trigger)
										label(for='#GruzPlaces').input-label Количество мест
								.input-item.w50
									.input-wrapper
										select.input-main.js-select(name='GruzType', 
																	id='GruzType',
																	data-validation='length', 
																	data-validation-length='min1',
																	data-validation-event="change",
																	data-display-if-trigger)
											option(value="1") Коробка
											option(value="2") Тубус
										label(for='#GruzType').input-label Вид груза
								.input-item.w50
									.input-wrapper
										input.input-main(type="number",
														id='GruzTotalWeight',
														placeholder='0.5',
														name='GruzTotalWeight',
														data-validation="number",
														data-validation-allowing="float,positive",
														data-validation-error-msg="Максимальный вес — 100 кг",
														data-validation-decimal-separator=".")
										label(for='#GruzTotalWeight').input-label Общий вес, кг
								.input-item.w50
									.input-wrapper
										input.input-main(
														type="number",
														id='GruzVolumetrikWeight',
														placeholder='0.5',
														name='GruzVolumetrikWeight',
														data-validation="number",
														data-validation-allowing="float,positive",
														data-validation-decimal-separator=".",
														data-validation-optional="true")
										label(for='#GruzVolumetrikWeight').input-label Объёмный вес, кг
						// блок с контейнером
						.accordeon-wrapper(data-display-target='GruzType',data-display-if='1')
							.accordeon-head
								.link-dotted.color-black.js-accordeon-trigger
									.link-dotted-text.js-toggle-text(data-alt-text='Свернуть') Расcчитать объёмный вес
									.link-dotted-icon
										+icon('arrd')
								.quest-wrap
									.quest-trigger
										+icon('question')
									.input-dropdown-target
										.input-dropdown-content
											.text Вы можете ввести до 10 номеров отправлений через запятую. Номер заказа имеет формат XXX-XXXXXXXXX. Номер накладной указан под шрихкодом.
							.help-block.help.primary Объемный и фактический вес могут не совпадать! Тариф рассчитывается по большему значению.
							.accordeon-body(style='display: none;')
								.form-block.js-calculation-reset-cont(data-formula='0')
									.form-block-column
										.input-row
											.input-item.w50
												.input-wrapper
													input.input-main(
																	id='BoxA',
																	placeholder='1',
																	type="number",
																	name='BoxA',
																	data-validation="number",
																	data-validation-error-msg="Введите корректную величину",
																	data-validation-allowing="positive,range[1;1000]",
																	data-validation-optional="true")
													label(for='#BoxA').input-label Длина (A), см
											.input-item.w50
												.input-wrapper
													input.input-main(
																	id='BoxB',
																	placeholder='1',
																	type="number",
																	name='BoxB',
																	data-validation="number",
																	data-validation-error-msg="Введите корректную величину",
																	data-validation-allowing="positive,range[1;1000]",
																	data-validation-optional="true")
													label(for='#BoxB').input-label Ширина (B), см
											.input-item.w50
												.input-wrapper
													input.input-main(
																	id='BoxH',
																	placeholder='1',
																	type="number",
																	name='BoxH',
																	data-validation="number",
																	data-validation-error-msg="Введите корректную величину",
																	data-validation-allowing="positive,range[1;1000]",
																	data-validation-optional="true")
													label(for='#BoxH').input-label Высота (H), см
											.form-block-result
												.form-block-result-inner
													.caption Обьемный вес
													.form-block-result-text.js-CalcForm-result
													|
											.form-block-calcreset
												.link-icon.sm.js-calculation-reset
													.link-icon-icon
														+icon('close')
													.link-icon-text Отменить расчёт
									.form-block-column
										img(src="img/calc/1.png", alt="")
						// блок с тубусом
						.accordeon-wrapper(data-display-target='GruzType',data-display-if='2')
							.accordeon-head
								.link-dotted.color-black.js-accordeon-trigger
									.link-dotted-text.js-toggle-text(data-alt-text='Свернуть') Расcчитать объёмный вес
									.link-dotted-icon
										+icon('arrd')
								.quest-wrap
									.quest-trigger
										+icon('question')
									.input-dropdown-target
										.input-dropdown-content
											.text Вы можете ввести до 10 номеров отправлений через запятую. Номер заказа имеет формат XXX-XXXXXXXXX. Номер накладной указан под шрихкодом.
							.help-block.help.primary Объемный и фактический вес могут не совпадать! Тариф рассчитывается по большему значению.
							.accordeon-body(style='display: none;')
								.form-block.js-calculation-reset-cont(data-formula='1')
									.form-block-column
										.input-row
											.input-item.w50
												.input-wrapper
													input.input-main(
																	id='BoxA',
																	placeholder='1',
																	type="number",
																	name='BoxA',
																	data-validation="number",
																	data-validation-error-msg="Введите корректную величину",
																	data-validation-allowing="positive,range[1;1000]",
																	data-validation-optional="true")
													label(for='#BoxA').input-label Сторона (A), см
											.input-item.w50
												.input-wrapper
													input.input-main(
																	id='BoxB',
																	placeholder='1',
																	type="number",
																	name='BoxB',
																	data-validation="number",
																	data-validation-error-msg="Введите корректную величину",
																	data-validation-allowing="positive,range[1;1000]",
																	data-validation-optional="true")
													label(for='#BoxB').input-label Высота (H), см
											.form-block-result
												.form-block-result-inner
													.caption Обьемный вес
													.form-block-result-text.js-CalcForm-result
											.form-block-calcreset
												.link-icon.sm.js-calculation-reset
													.link-icon-icon
														+icon('close')
													.link-icon-text Отменить расчёт
									.form-block-column
										img(src="img/calc/2.png", alt="")
						// аккордеон с множественными блоками
						.accordeon-wrapper.block-yellow.js-calculation-target#Accordeon-multiple(data-display-target='GruzPlaces')
							.accordeon-body(style='display: none;')
								.accordeon-body-head
									.title.h4 Данные по каждому грузовому месту
									.quest-wrap
										.quest-trigger
											+icon('question')
										.input-dropdown-target
											.input-dropdown-content
												.text Вы можете ввести до 10 номеров отправлений через запятую. Номер заказа имеет формат XXX-XXXXXXXXX. Номер накладной указан под шрихкодом.
								.accordeon-body-loop
									.form-block.js-calculation-reset-cont
										.form-block-head
											.title.h5 Место №
												span 1
										.input-row
											.input-item.w50
												.input-wrapper
													select.input-main.js-select(name='GruzType[0]', 
																				id='GruzType[0]',
																				data-validation='length', 
																				data-validation-length='min1',
																				data-validation-event="change",
																				data-validation-depends-on="PackageType",
																				data-validation-depends-on-value="2",
																				data-display-if-trigger)
														option(value="1") Коробка
														option(value="2") Тубус
														option(value="3") Конверт
													label(for='#GruzType[0]').input-label Вид груза
											.input-item.w50
												.input-wrapper
													input.input-main(type="number",
																	id='GruzTotalWeight[0]',
																	placeholder='0.5',
																	name='GruzTotalWeight[0]',
																	data-validation="number",
																	data-validation-allowing="float,positive",
																	data-validation-error-msg="ВВедите корректный вес",
																	data-validation-decimal-separator=".")
													label(for='#GruzTotalWeight[0]').input-label Вес, кг
										.form-block-head
											.title.h5 Объёмный вес
										.help-block.help.primary Объемный и фактический вес могут не совпадать! Тариф рассчитывается по большему значению.
										.form-block
											.form-block-subwrapper(data-display-if-container='GruzType')
											.form-block-column.js-CalcForm-result-cont(data-formula='0')
												.input-row
													.input-item.w50
														.input-wrapper
															input.input-main(
																			id='BoxA[0]',
																			placeholder='1',
																			type="number",
																			name='BoxA',
																			data-validation="number",
																			data-validation-error-msg="Введите корректную величину",
																			data-validation-allowing="positive,range[1;1000]")
															label(for='#BoxA[0]').input-label Длина (A), см
													.input-item.w50
														.input-wrapper
															input.input-main(
																			id='BoxB[0]',
																			placeholder='1',
																			type="number",
																			name='BoxB[0]',
																			data-validation="number",
																			data-validation-error-msg="Введите корректную величину",
																			data-validation-allowing="positive,range[1;1000]")
															label(for='#BoxB[0]').input-label Ширина (B), см
													.input-item.w50
														.input-wrapper
															input.input-main(
																			id='BoxH[0]',
																			placeholder='1',
																			type="number",
																			name='BoxH[0]',
																			data-validation="number",
																			data-validation-error-msg="Введите корректную величину",
																			data-validation-allowing="positive,range[1;1000]")
															label(for='#BoxH[0]').input-label Высота (H), см
													.form-block-result
														.form-block-result-inner
															.caption Обьемный вес
															.form-block-result-text.js-CalcForm-result
															|
													.form-block-calcreset
														.link-icon.sm.js-calculation-reset
															.link-icon-icon
																+icon('close')
															.link-icon-text Отменить расчёт

											.form-block-column
												img(src="img/calc/1.png", alt="")
										.input-row
											.input-item
												.input-wrapper
													textarea.input-main.maxlength(type="text",name='PackageDescr[0]',id='PackageDescr[0]',placeholder='Например, ценный груз', data-countdown='200')
													label(for='#PackageDescr[0]').input-label Описание груза
							.accordeon-head
								.link-dotted.big.js-accordeon-trigger
									.link-dotted-text.js-toggle-text(data-alt-text='Свернуть') Заполнить данные по каждому грузовому месту
									.link-dotted-icon
										+icon('arrd')
								.link-icon.sm.js-calculation-reset
									.link-icon-icon
										+icon('close')
									.link-icon-text Отменить расчёт
					form(action="/",data-step='2').js-validate.form-step
						.border-block
							.border-block-content
								.title.h3 География2
					form(action="/",data-step='3').js-validate.form-step
						.border-block
							.border-block-content
								.title.h3 География3
					form(action="/",data-step='4').js-validate.form-step
						.border-block
							.border-block-content
								.title.h3 География4
				.content-columns-aside(data-sticky-parent).js-stick-parent
					.content-aside-content.js-stick
						.calc-steps.js-calcNav
							.calc-steps-item.active.current(data-step='1')
								span.num
									span
								.calc-steps-content
									.title.h5 Параметры заказа
							.calc-steps-item(data-step='2')
								span.num
									span
								.calc-steps-content
									.title.h5 Выбор тарифа
							.calc-steps-item(data-step='3')
								span.num
									span
								.calc-steps-content
									.title.h5 Контактные данные
							.calc-steps-item(data-step='4')
								span.num
									span
								.calc-steps-content
									.title.h5 Способ оплаты