.modal-layout(data-modal='search').js-popup-container
	.modal-container
		.modal-container-header
			.modal-container-header-search
				form(action="/").searchinp.darken
					.search-field
						input(type="text" placeholder='Найдите свой город').searchinp-input.js-searchmodal-targetinput
						button(type='button').searchinp-btn
							+icon('search')
					.search-method.input-row
						.input-item
							label.select-radio-label.radio-simple
								input(type="radio", name='MethodSearch', checked='checked').select-radio-input-real
								.select-radio-inner
									span.select-radio-input
										span.select-radio-input-fake
									span.select-radio-text По услугам
						.input-item
							label.select-radio-label.radio-simple
								input(type="radio", name='MethodSearch').select-radio-input-real
								.select-radio-inner
									span.select-radio-input
										span.select-radio-input-fake
									span.select-radio-text По тексту
			.modal-container-header-close.closePopup
				.small-link
					+icon('closemodal')
		.modal-container-content
			.city-modal-content-scroll
				.search-result-wrap
					a(href="#").search-result-item
						.search-result-item-num
							.text.sm
								|1.
						.search-result-item-content
								.text.bold.sm
									b Международная 
									|доставка
								.text.sm
									|Выход на 
									b международный 
									|уровень — важный шаг в развитии бизнеса. Его успешность зависит от качества реализации грузо- и документооборота с зарубежными партнерами.
								.caption Услуги
					a(href="#").search-result-item
						.search-result-item-num
							.text.sm
								|2.
						.search-result-item-content
								.text.bold.sm Экспорт
								.text.sm
									|Наше решение – это комбинация 
									b международного 
									|опыта наших зарубежных партнеров по доставке, наш многолетний опыт таможенного оформления  и широкая география доставки в России. 
								.caption Международная доставка
					a(href="#").search-result-item
						.search-result-item-num
							.text.sm
								|2.
						.search-result-item-content
								.text.bold.sm Импорт
								.text.sm
									|Выгодный тариф на 
									b международную 
									|доставку с отличным транзитным временем. Отправляйте документы и грузы. Хоть на край света! 
								.caption Международная доставка
		.modal-container-footer.align-right
			.btn.type-round
				.btn-inner 
					span Все результаты
.modal-layout(data-modal='city').js-popup-container.modal-small
	.modal-container
		.modal-container-header
			.modal-container-header-close.closePopup
				.small-link
					+icon('closemodal')
		.modal-container-content
			.city-chose
				.city-chose-content 
					.caption Ближайший к вам офис в городе: 
					a(href="#").city-chose-city.title.h3 Москва
					.text.sm Офисы: 
						span 15
					.text.sm Пункт выдачи заказов: 
						span 9
					.text.sm Постаматы: 
						span 4
				.city-chose-footer
					.btn.closePopup.light.js-city-select
						.btn-inner 
							span Нет, другой город
					.btn.closePopup
						.btn-inner 
							span Да, всё верно
.modal-layout(data-modal='vacancy').js-popup-container.modal-medium
	.modal-container
		.modal-container-header
			.title.h2 Отправить резюме
			.modal-container-header-close.closePopup
				.small-link
					+icon('closemodal')
		.modal-container-content
			form(action="/").modal-form.js-validate
				input(type="hidden").js-vacancy-type
				.input-row
					.input-item.w100
						.input-wrapper
							input.input-main.maxlength(
											id='SenderPerson',
											placeholder='Иванов Сергей Иванович',
											type="text",
											name='SenderPerson',
											data-validation="length",
											data-validation-error-msg="Обязательное поле",
											data-validation-length='min8',
											data-countdown='50')
							label(for='#SenderPerson').input-label Контактное лицо
					.input-item.w50
						.input-wrapper
							input.input-main(
											id='SenderEmail',
											placeholder='user@mail.ru',
											type="email",
											name='SenderEmail',
											data-validation="email",
											data-validation-error-msg="Некорректный E-mail")
							label(for='#SenderEmail').input-label E-mail
					.input-item.w50
						.input-wrapper
							input.input-main(
											id='SenderTel[0]',
											placeholder='+7 495 000-00-00',
											type="tel",
											name='SenderTel[0]',
											data-validation="custom",
											data-validation-regexp="^[-0-9()+ ]+$",
											data-validation-error-msg="Введите корректный номер телефона")
							label(for='#SenderTel[0]').input-label Телефон
					.input-item.w100
						// подтянуть дропзон при натяжке
						.vacancy-file.js-file
							.link-icon.sm.primary
								.link-icon-icon
									+icon('resume')
								.link-icon-text Прикрепить резюме
							.caption Вы можете загрузить документ в формате: doc, docx, pdf. Объёмом до 10 Мб. 
				.input-row.modal-form-footer
					.input-item.w50
						label.select-radio-label.radio-simple
							input(
									type="checkbox",
									name='PersonalData').select-radio-input-real
							.select-radio-inner
								span.select-radio-input
									span.select-radio-input-fake
								span.select-radio-text Согласие на обработку
									a(href="#" target='_blank') персональных данных
					.input-item.w50
						button(type='submit').btn.btn-next
							.btn-inner 
								span Отправить
	.modal-container.response(style='display: none;')
		.modal-container-header
			.title.h2 Резюме принято
			.modal-container-header-close.closePopup
				.small-link
					+icon('closemodal')
		.modal-container-content

			.text.sm Спасибо, что проявили интерес к нашей компании. Если ваша кандидатура окажется для нас интересной, наш специалист по персоналу свяжется с вами для уточнения всех деталей.
.modal-layout(data-modal='diplom').js-popup-container#diplom
