- var svgSprite = 'img/sprite.svg'
- var countries = ['РОССИЯ','АБХАЗИЯ','АВСТРАЛИЯ','АВСТРИЯ','АЗЕРБАЙДЖАН','АЛБАНИЯ','АЛЖИР','АМЕРИКАНСКОЕ САМОА','АНГИЛЬЯ','АНГОЛА','АНДОРРА','АНТАРКТИДА','АНТИГУА И БАРБУДА','АРГЕНТИНА','АРМЕНИЯ','АРУБА','АФГАНИСТАН','БАГАМЫ','БАНГЛАДЕШ','БАРБАДОС','БАХРЕЙН','БЕЛАРУСЬ','БЕЛИЗ','БЕЛЬГИЯ','БЕНИН','БЕРМУДЫ','БОЛГАРИЯ','БОЛИВИЯ','БОСНИЯ И ГЕРЦЕГОВИНА','БОТСВАНА','БРАЗИЛИЯ','БРИТАНСКАЯ ТЕРРИТОРИЯ В ИНДИЙСКОМ ОКЕАНЕ','БРУНЕЙ - ДАРУССАЛАМ','БУРКИНА ФАСО','БУРУНДИ','БУТАН','ВАНУАТУ','ВЕНГРИЯ','ВЕНЕСУЭЛА','ВИРГИНСКИЕ ОСТРОВА',' БРИТАНСКИЕ','ВИРГИНСКИЕ ОСТРОВА',' США','ВОСТОЧНЫЙ ТИМОР','ВЬЕТНАМ','ГАБОН','ГАИТИ','ГАЙАНА','ГАМБИЯ','ГАНА','ГВАДЕЛУПА','ГВАТЕМАЛА','ГВИНЕЯ','ГВИНЕЯ - БИСАУ','ГЕРМАНИЯ','ГЕРНСИ НОРМАНДСКИЕ ОСТРОВА','ГИБРАЛТАР','ГОНДУРАС','ГОНКОНГ','ГРЕНАДА','ГРЕНЛАНДИЯ','ГРЕЦИЯ','ГРУЗИЯ','ГУАМ','ДАНИЯ','ДЖИБУТИ','ДОМИНИКА','ДОМИНИКАНСКАЯ РЕСПУБЛИКА','ЕГИПЕТ','ЗАМБИЯ','ЗАПАДНАЯ САХАРА','ЗИМБАБВЕ','ИЗРАИЛЬ','ИНДИЯ','ИНДОНЕЗИЯ','ИОРДАНИЯ','ИРАК','ИРАН',' ИСЛАМСКАЯ РЕСПУБЛИКА','ИРЛАНДИЯ','ИСЛАНДИЯ','ИСПАНИЯ','ИТАЛИЯ','ЙЕМЕН','КАБО - ВЕРДЕ','КАЗАХСТАН','КАМБОДЖА','КАМЕРУН','КАНАДА','КАНАРСКИЕ ОСТРОВА','КАТАР','КЕНИЯ','КИПР','КИРГИЗИЯ','КИРИБАТИ','КИТАЙ',' КОКОСОВЫЕКИЛИНГ ОСТРОВА','КОЛУМБИЯ','КОМОРЫ','КОНГО','КОНГО',' ДЕМОКРАТИЧЕСКАЯ РЕСПУБЛИКА','КОРЕЯ',' НАРОДНО - ДЕМОКРАТИЧЕСКАЯ РЕСПУБЛИКА','КОРЕЯ',' РЕСПУБЛИКА','КОСТА РИКА','КОТ ДИВУАР','КУБА','КУВЕЙТ','ЛАОССКАЯ НАРОДНО - ДЕМОКРАТИЧЕСКАЯ РЕСПУБЛИКА','ЛАТВИЯ','ЛЕСОТО','ЛИБЕРИЯ','ЛИВАН','ЛИВИЙСКАЯ АРАБСКАЯ ДЖАМАХИРИЯ','ЛИТВА','ЛИХТЕНШТЕЙН','ЛЮКСЕМБУРГ','МАВРИКИЙ','МАВРИТАНИЯ','МАДАГАСКАР','МАЙОТТА','МАКАО','МАКЕДОНИЯ',' БЫВШАЯ ЮГОСЛАВСКАЯ РЕСПУБЛИКА','МАЛАВИ','МАЛАЙЗИЯ','МАЛИ','МАЛЫЕ ТИХООКЕАНСКИЕ ОТДАЛЕННЫЕ ОСТРОВА СОЕДИНЕННЫХ ШТАТОВ','МАЛЬДИВЫ','МАЛЬТА','МАРОККО','МАРТИНИКА','МАРШАЛЛОВЫ ОСТРОВА','МЕКСИКА','МИКРОНЕЗИЯ',' ФЕДЕРАТИВНЫЕ ШТАТЫ','МОЗАМБИК','МОЛДОВА','МОЛДОВА',' РЕСПУБЛИКА','МОНАКО','МОНГОЛИЯ','МОНТЕНЕГРО','МОНТСЕРРАТ','МЬЯНМА','НАМИБИЯ','НАУРУ','НЕПАЛ','НИГЕР','НИГЕРИЯ','НИДЕРЛАНДСКИЕ АНТИЛЫ','НИДЕРЛАНДЫ','НИКАРАГУА','НИУЭ','НОВАЯ ЗЕЛАНДИЯ','НОВАЯ КАЛЕДОНИЯ','НОРВЕГИЯ','ОБЪЕДИНЕННЫЕ АРАБСКИЕ ЭМИРАТЫ','ОМАН','ОСТРОВ БУВЕ','ОСТРОВ НОРФОЛК','ОСТРОВ РОЖДЕСТВА','ОСТРОВ ХЕРД И ОСТРОВА МАКДОНАЛЬД','ОСТРОВА КАЙМАН','ОСТРОВА КУКА','ОСТРОВА ТЕРКС И КАЙКОС','ПАКИСТАН','ПАЛАУ','ПАЛЕСТИНСКАЯ ТЕРРИТОРИЯ',' ОККУПИРОВАННАЯ','ПАНАМА','ПАПСКИЙ ПРЕСТОЛ ГОСУДАРСТВО - ГОРОД ВАТИКАН','ПАПУА - НОВАЯ ГВИНЕЯ','ПАРАГВАЙ','ПЕРУ','ПИТКЕРН','ПОЛЬША','ПОРТУГАЛИЯ','ПУЭРТО - РИКО','РЕЮНЬОН','РУАНДА','РУМЫНИЯ','САЛЬВАДОР','САМОА','САН - МАРИНО','САН - ТОМЕ И ПРИНСИПИ','САУДОВСКАЯ АРАВИЯ','СВАЗИЛЕНД','СВЯТАЯ ЕЛЕНА','СЕВЕРНЫЕ МАРИАНСКИЕ ОСТРОВА','СЕЙШЕЛЫ','СЕН - ПЬЕР И МИКЕЛОН','СЕНЕГАЛ','СЕНТ - ВИНСЕНТ И ГРЕНАДИНЫ','СЕНТ - КИТС И НЕВИС','СЕНТ - ЛЮСИЯ','СЕРБИЯ','СИНГАПУР','СИРИЙСКАЯ АРАБСКАЯ РЕСПУБЛИКА','СЛОВАКИЯ','СЛОВЕНИЯ','СОЕДИНЕННОЕ КОРОЛЕВСТВО','СОЕДИНЕННЫЕ ШТАТЫ','СОЛОМОНОВЫ ОСТРОВА','СОМАЛИ','СУДАН','СУРИНАМ','СЬЕРРА ЛЕОНЕ','ТАДЖИКИСТАН','ТАИЛАНД',' КИТАЙ','ТАНЗАНИЯ',' ОБЪЕДИНЕННАЯ РЕСПУБЛИКА','ТОГО','ТОКЕЛАУ','ТОНГА','ТРИНИДАД И ТОБАГО','ТУВАЛУ','ТУНИС','ТУРКМЕНИЯ','ТУРЦИЯ','УГАНДА','УЗБЕКИСТАН','УКРАИНА','УОЛЛИС И ФУТУНА','УРУГВАЙ','ФАРЕРСКИЕ ОСТРОВА','ФИДЖИ','ФИЛИППИНЫ','ФИНЛЯНДИЯ','ФОЛКЛЕНДСКИЕ ОСТРОВА МАЛЬВИНСКИЕ','ФРАНЦИЯ','ФРАНЦУЗСКАЯ ГВИАНА','ФРАНЦУЗСКИЕ ЮЖНЫЕ ТЕРРИТОРИИ','ХОРВАТИЯ','ЦЕНТРАЛЬНО - АФРИКАНСКАЯ РЕСПУБЛИКА','ЧАД','ЧЕШСКАЯ РЕСПУБЛИКА','ЧИЛИ','ШВЕЙЦАРИЯ','ШВЕЦИЯ','ШПИЦБЕРГЕН И ЯН МАЙЕН','ШРИ  ЛАНКА','ЭКВАДОР','ЭКВАТОРИАЛЬНАЯ ГВИНЕЯ','ЭРИТРЕЯ','ЭСТОНИЯ','ЭФИОПИЯ','ЮГОСЛАВИЯ','ЮЖНАЯ АФРИКА','ЮЖНАЯ ДЖОРДЖИЯ И ЮЖНЫЕ САНДВИЧЕВЫ ОСТРОВА','ЮЖНАЯ ОСЕТИЯ','ЯМАЙКА','ЯПОНИЯ']

mixin icon(name)
	svg(class="icon-" + name)
		use(xlink:href="#"+ name)

mixin serviceItem(title,img)
	.service-item
		.service-item-content
			.title.h2 #{title}
			ul.service-links
				li.service-links-item
					a(href="#") Срочная
				li.service-links-item
					a(href="#") Эконом
				li.service-links-item
					a(href="#") Сверхсрочная
			a(href="#").btn.color-orange.type-round
				.btn-inner 
					span Подробнее
		.service-item-img
			.service-item-img-inner
				img.js-image(data-src="img/service/"+img+".jpg", alt="")
mixin feachureLink(title)
	.service-linkblock
		a(href="#").service-linkblock-head
			.title.h3 #{title}
		.service-linkblock-content
			if block
				block
mixin card(title,text,img)
	.cards-item
		.cards-item-inner
			.cards-item-image
				img(src="img/cards/"+img+"", alt="")
			.cards-item-content
				.text.bold #{title}
				.text.sm #{text}

mixin offer(title,text,img)
	.offers-item
		.offers-item-inner
			.offers-item-image
				.offers-item-image-inner
					img.js-image(data-src="img/offers/"+img+".jpg", alt="")
			.offers-item-content
				.title.h3 #{title}
				.text.sm #{text}
				a(href="#").btn.color-orange.type-round
					.btn-inner 
						span Подробнее



